*
    outline: solid 1px
    box-sizing: border-box

figure
    position: absolute
    top: 0
    left: -18px
    img
        width: 100%
        opacity: 0.2

// width: 1440px 合板
h1
    font-size: 35px
    margin: 0

header
    padding: 30px 0
    nav
        max-width: 1084px
        margin: 0 auto
        &.customize-navbar
            padding: 0
            text-transform: uppercase
        .customize-navbar-brand
            padding: 0
        span
            font-size: 15px
        
main
    .container
        max-width: 1084px
    section        
        height: 300px

footer
    .container
        max-width: 1084px
    .col
        height: 300px