*
    outline: solid 1px black
    box-sizing: border-box

figure
    position: absolute
    top: 0
    left: -18px
    img
        width: 100%
        opacity: 0.4
img
    width: 100%

// width: 1440px 合板
@mixin rwd-sm
    @media (min-width: 575px)
        @content

@mixin rwd-md
    @media (min-width: 767px)
        @content

@mixin rwd-lg
    @media (min-width: 991px)
        @content
        
h1
    margin: 0
    color: #F9C947
    font-size: 35px
    font-weight: bold
    letter-spacing: .17em

.customize-font
    font-family: 'Oswald'
    text-transform: uppercase


header
    padding: 35px 0 20px
    background-color: #241B17
    nav
        max-width: 1084px
        margin: 0 auto
        &.customize-navbar
            padding: 0
            text-transform: uppercase
        .customize-navbar-brand
            padding: 0
            font-size: 17px
            color: #E0DFDF
            letter-spacing: .45em
        .customize-nav-item
            margin-right: 16px
            font-size: 19px
            color:  #E0DFDF
            &:hover
                color: #F9C947
            &:last-child
                margin-right: 9px
        
main
    background: #FFFFFF url("../image/bg-body.png")
    .wrapper
        max-width: 1084px
        background-color: #fff
    section        
        // height: 300px
        .hotsale-img
            padding: 0
        .hotsale
            padding: 70px 65px
            background: url("../image/bg-pattern.jpg") no-repeat center
            background-size: cover
            h2
                margin-bottom: 27px
                padding: 0 32px
                line-height: 1.38em
                font-family: 'Oswald'
                text-transform: uppercase
                font-size: 42px
                letter-spacing: 0.022em
                text-align: center
            p
                margin: 0
                font-size: 15px
                letter-spacing: 0.11em
                line-height: 1.87em                
        .case
            padding: 0
            background-color: #4B3A33
            &:nth-child(2)
                background-color: #241B17
            .content
                position: relative
                margin: 0
                padding: 20px 22px 26px
                font-size: 14px
                &::before
                    content: ""
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 8px
                    background-image: url(../image/separator-light.png)
                    background-size: contain
            h3
                font-family: 'Oswald'
                text-transform: uppercase
                font-size: 20px
                color: #F9C947
            p
                margin: 0
                font-size: 14px
                font-weight: 500
                letter-spacing: 0.04em
                color: #fff
        .connect
            padding: 33px 22px 50px
            h3
                margin-bottom: 3px
                font-size: 17px
                letter-spacing: 0.02em
                color: #ABABAB
            p
                margin-bottom: 31px
                font-size: 30px
                line-height: 1.2
                letter-spacing: 0.01em
                word-spacing: 0.43em
        .connect-posts
            h3
                margin-bottom: 18px
                letter-spacing: 0.08em
            .cust-gutters
                padding: 0 26px 0 20px
            .post-content
                padding: 20px 16px
                background-color: #DDDAD3
                span
                    display: block
                    font-size: 12px
                    margin-bottom: 11px
                h4
                    font-size: 18px
                    text-transform: none
                    letter-spacing: 0.01em
                    margin-bottom: 38px
                a
                    font-size: 15px
                    color: black
                    text-decoration: none
                    &:hover
                        color: #F9C947
            &::before
                content: ""
                position: absolute
                top: 6px
                left: -8px
                width: 8px
                height: 95%
                background-image: url(../image/separator-light-vertical.png)
                background-size: contain



footer
    background-color: #F9C947
    .container
        max-width: 1084px
    h3
        margin-bottom: 18px
        font-size: 18px
        letter-spacing: 0.03em
    .showcase,.blog
        position: relative
        &::after
            content: ""
            position: absolute
            top: 10%
            right: -4px
            width: 8px
            height: 85%
            background: url(../image/separator-dark-vertical.png)
            background-size: contain
    .showcase
        padding: 38px 27px 0 0 
        font-size: 14px
        img
            margin-bottom: 17px        
        p
            margin-bottom: 21px
            font-size: 14px
            word-spacing: -0.01em
    .blog
        padding: 38px 27px 52px
        .posts
            margin-bottom: 36px
            &:last-child
                margin: 0
            img
                margin-bottom: 0
            
        .posts-date
            text-align: center
            background: url(../image/bg-time.png) no-repeat center 0
            background-size: contain
            p
                font-size: 16px
                color: white
                line-height: 1.4

        .posts-content
            padding: 0 0 0 8px
        h4
            font-family: 'Oswald'
            font-size: 15px
            letter-spacing: 0.02em
        p
            margin: 0
            font-size: 13px
            letter-spacing: -0.01em
            line-height: 1.65
    .community
        position: relative
        padding: 38px 0 0 33px
        font-size: 16px
        h3:nth-child(4)
                margin-bottom: 5px
        input
            width: 100%
            height: 38px
            margin-bottom: 6px
        button
            width: 98px
            margin-bottom: 53px
            color: white
            background-color: #241B17
            border-radius: 25%
        &::before
            content: ""
            position: absolute
            top: 45%
            left: 10%
            width: 90%
            height: 8px
            background: url(../image/separator-dark.png)
            background-size: contain
        a
            margin-left: 27px
            font-size: 41px
            color: black
            &:nth-child(5)
                margin-left: 5px
    .copyright
        @include rwd-lg
            color: red