@mixin rwd-sm
    @media (max-width: 575px)
        @content

@mixin rwd-md
    @media (max-width: 767px)
        @content

h1
    margin: 0
    color: #F9C947
    font-size: 35px
    font-weight: bold
    letter-spacing: .17em

.customize-font
    font-family: 'Oswald'
    text-transform: uppercase