* {
  outline: solid 1px black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

figure {
  position: absolute;
  top: 0;
  left: -18px;
}

figure img {
  width: 100%;
  opacity: 0.4;
}

img {
  width: 100%;
}

h1 {
  margin: 0;
  color: #F9C947;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: .17em;
}

.customize-font {
  font-family: 'Oswald';
  text-transform: uppercase;
}

header {
  padding: 35px 0 20px;
  background-color: #241B17;
}

header nav {
  max-width: 1084px;
  margin: 0 auto;
}

header nav.customize-navbar {
  padding: 0;
  text-transform: uppercase;
}

header nav .customize-navbar-brand {
  padding: 0;
  font-size: 17px;
  color: #E0DFDF;
  letter-spacing: .45em;
}

header nav .customize-nav-item {
  margin-right: 16px;
  font-size: 19px;
  color: #E0DFDF;
}

header nav .customize-nav-item:hover {
  color: #F9C947;
}

header nav .customize-nav-item:last-child {
  margin-right: 9px;
}

main {
  background: #FFFFFF url("../image/bg-body.png");
}

main .container {
  max-width: 1084px;
  background-color: #fff;
}

main section .hotsale-img {
  padding: 0;
}

main section .hotsale {
  padding: 70px 65px;
  background: url("../image/bg-pattern.jpg") no-repeat center;
  background-size: cover;
}

main section .hotsale h2 {
  margin-bottom: 27px;
  padding: 0 32px;
  line-height: 1.38em;
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 42px;
  letter-spacing: 0.022em;
  text-align: center;
}

main section .hotsale p {
  margin: 0;
  font-size: 15px;
  letter-spacing: 0.11em;
  line-height: 1.87em;
}

main section .case {
  padding: 0;
  background-color: #4B3A33;
}

main section .case:nth-child(2) {
  background-color: #241B17;
}

main section .case .content {
  position: relative;
  margin: 0;
  padding: 20px 22px 26px;
  font-size: 14px;
}

main section .case .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-image: url(../image/separator-light.png);
  background-size: contain;
}

main section .case h3 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 20px;
  color: #F9C947;
}

main section .case p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
}

main section .connect {
  padding: 33px 22px 50px;
}

main section .connect h3 {
  margin-bottom: 3px;
  font-size: 17px;
  letter-spacing: 0.02em;
  color: #ABABAB;
}

main section .connect p {
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  word-spacing: 0.43em;
}

main section .connect-posts h3 {
  margin-bottom: 18px;
  letter-spacing: 0.08em;
}

main section .connect-posts .cust-gutters {
  padding: 0 26px 0 20px;
}

main section .connect-posts .post-content {
  padding: 20px 16px;
  background-color: #DDDAD3;
}

main section .connect-posts .post-content span {
  display: block;
  font-size: 12px;
  margin-bottom: 11px;
}

main section .connect-posts .post-content h4 {
  font-size: 18px;
  text-transform: none;
  letter-spacing: 0.01em;
  margin-bottom: 38px;
}

main section .connect-posts .post-content a {
  font-size: 15px;
  color: black;
  text-decoration: none;
}

main section .connect-posts .post-content a:hover {
  color: #F9C947;
}

main section .connect-posts::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -8px;
  width: 8px;
  height: 95%;
  background-image: url(../image/separator-light-vertical.png);
  background-size: contain;
}

footer {
  background-color: #F9C947;
}

footer .container {
  max-width: 1084px;
}

footer h3 {
  margin-bottom: 18px;
  font-size: 18px;
  letter-spacing: 0.03em;
}

footer .showcase, footer .blog {
  position: relative;
}

footer .showcase::after, footer .blog::after {
  content: "";
  position: absolute;
  top: 10%;
  right: -4px;
  width: 8px;
  height: 85%;
  background: url(../image/separator-dark-vertical.png);
  background-size: contain;
}

footer .showcase {
  padding: 38px 27px 0 0;
  font-size: 14px;
}

footer .showcase img {
  margin-bottom: 17px;
}

footer .showcase p {
  margin-bottom: 21px;
  font-size: 14px;
  word-spacing: -0.01em;
}

footer .blog {
  padding: 38px 27px 52px;
}

footer .blog .posts {
  margin-bottom: 36px;
}

footer .blog .posts:last-child {
  margin: 0;
}

footer .blog .posts img {
  margin-bottom: 0;
}

footer .blog .posts-date {
  text-align: center;
  background: url(../image/bg-time.png) no-repeat center 0;
  background-size: contain;
}

footer .blog .posts-date p {
  font-size: 16px;
  color: white;
  line-height: 1.4;
}

footer .blog .posts-content {
  padding: 0 0 0 8px;
}

footer .blog h4 {
  font-family: 'Oswald';
  font-size: 15px;
  letter-spacing: 0.02em;
}

footer .blog p {
  margin: 0;
  font-size: 13px;
  letter-spacing: -0.01em;
  line-height: 1.65;
}

footer .community {
  position: relative;
  padding: 38px 0 0 33px;
  font-size: 16px;
}

footer .community h3:nth-child(4) {
  margin-bottom: 5px;
}

footer .community input {
  width: 100%;
  height: 38px;
  margin-bottom: 6px;
}

footer .community button {
  width: 98px;
  margin-bottom: 53px;
  color: white;
  background-color: #241B17;
  border-radius: 25%;
}

footer .community::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 10%;
  width: 90%;
  height: 8px;
  background: url(../image/separator-dark.png);
  background-size: contain;
}

footer .community a {
  margin-left: 27px;
  font-size: 41px;
  color: black;
}

footer .community a:nth-child(5) {
  margin-left: 5px;
}

@media (min-width: 991px) {
  footer .copyright {
    color: red;
  }
}
/*# sourceMappingURL=index.css.map */