* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

figure {
  position: absolute;
  top: 0;
  left: -18px;
}

figure img {
  opacity: 0.4;
}

img {
  width: 100%;
}

.customize-font {
  font-family: 'Oswald';
  text-transform: uppercase;
}

h1 {
  margin: 0;
  color: #F9C947;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: .17em;
}

.customize-font {
  font-family: 'Oswald';
  text-transform: uppercase;
}

header {
  padding: 35px 15px 20px;
  background-color: #241B17;
}

header nav {
  max-width: 1084px;
  margin: 0 auto;
}

header nav.customize-navbar {
  padding: 0;
  text-transform: uppercase;
}

header nav .customize-navbar-brand {
  padding: 0;
  font-size: 17px;
  color: #E0DFDF;
  letter-spacing: .45em;
  white-space: normal;
}

header nav .customize-nav-item {
  font-size: 19px;
  color: #E0DFDF;
}

@media (min-width: 991px) {
  header nav .customize-nav-item {
    margin-right: 16px;
  }
  header nav .customize-nav-item:last-child {
    margin-right: 9px;
  }
}

header nav .customize-nav-item:hover {
  color: #F9C947;
}

main {
  background: #FFFFFF url("../image/bg-body.png");
}

main .wrapper {
  max-width: 1084px;
  background-color: #fff;
}

main section .hotsale-img {
  padding: 0;
}

main section .hotsale-img img {
  height: 100%;
}

main section .hotsale {
  padding: 70px 65px;
  background: url("../image/bg-pattern.jpg") no-repeat center;
  background-size: cover;
}

main section .hotsale h2 {
  margin-bottom: 27px;
  padding: 0 32px;
  line-height: 1.38em;
  font-size: 42px;
  letter-spacing: 0.022em;
  text-align: center;
}

main section .hotsale p {
  margin: 0;
  font-size: 15px;
  letter-spacing: 0.11em;
  line-height: 1.87em;
}

main section .case {
  padding: 0;
  background-color: #4B3A33;
}

main section .case:nth-child(2) {
  background-color: #241B17;
}

main section .case .content {
  position: relative;
  margin: 0;
  padding: 20px 22px 26px;
  font-size: 14px;
}

main section .case .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-image: url(../image/separator-light.png);
  background-size: contain;
}

main section .case h3 {
  font-size: 30px;
  color: #F9C947;
}

@media (min-width: 767px) {
  main section .case h3 {
    font-size: 20px;
  }
}

main section .case p {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
}

@media (min-width: 767px) {
  main section .case p {
    font-size: 14px;
  }
}

main section .connect {
  padding: 33px 22px 20px;
}

@media (min-width: 575px) {
  main section .connect {
    padding: 33px 22px 50px;
  }
}

main section .connect h3 {
  margin-bottom: 3px;
  font-size: 22px;
  letter-spacing: 0.02em;
  color: #ABABAB;
}

@media (min-width: 767px) {
  main section .connect h3 {
    font-size: 17px;
  }
}

main section .connect p {
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  word-spacing: 0.43em;
}

main section .connect-posts h3 {
  margin-bottom: 18px;
  letter-spacing: 0.08em;
}

main section .connect-posts > div {
  margin: 0;
}

main section .connect-posts .cust-gutters {
  padding: 0 0 15px;
}

@media (min-width: 575px) {
  main section .connect-posts .cust-gutters {
    padding: 0 26px 0 20px;
  }
}

main section .connect-posts .post-content {
  padding: 20px 16px;
  background-color: #DDDAD3;
}

main section .connect-posts .post-content span {
  display: block;
  font-size: 14px;
  margin-bottom: 11px;
}

@media (min-width: 575px) {
  main section .connect-posts .post-content span {
    font-size: 12px;
  }
}

main section .connect-posts .post-content h4 {
  font-size: 22px;
  text-transform: none;
  letter-spacing: 0.01em;
  margin-bottom: 38px;
}

@media (min-width: 575px) {
  main section .connect-posts .post-content h4 {
    font-size: 18px;
  }
}

main section .connect-posts .post-content a {
  font-size: 18px;
  color: black;
  text-decoration: none;
}

@media (min-width: 575px) {
  main section .connect-posts .post-content a {
    font-size: 15px;
  }
}

main section .connect-posts .post-content a:hover {
  color: #F9C947;
}

@media (min-width: 767px) {
  main section .connect-posts::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -8px;
    width: 8px;
    height: 95%;
    background-image: url(../image/separator-light-vertical.png);
    background-size: contain;
  }
}

footer {
  background-color: #F9C947;
}

footer .container {
  max-width: 1084px;
}

footer h3 {
  margin-bottom: 18px;
  font-size: 22px;
  letter-spacing: 0.03em;
}

@media (min-width: 767px) {
  footer h3 {
    font-size: 18px;
  }
}

footer .showcase, footer .blog, footer .community {
  padding: 40px 20px;
}

footer .showcase, footer .blog {
  position: relative;
}

@media (min-width: 991px) {
  footer .showcase::after, footer .blog::after {
    content: "";
    position: absolute;
    top: 10%;
    right: -4px;
    width: 8px;
    height: 85%;
    background: url(../image/separator-dark-vertical.png);
    background-size: contain;
  }
}

footer .showcase {
  font-size: 18px;
}

@media (min-width: 767px) {
  footer .showcase {
    font-size: 14px;
  }
  footer .showcase::after {
    content: "";
    position: absolute;
    top: 10%;
    right: -4px;
    width: 8px;
    height: 85%;
    background: url(../image/separator-dark-vertical.png);
    background-size: contain;
  }
}

@media (min-width: 1199px) {
  footer .showcase {
    padding: 38px 27px 0 0;
  }
}

footer .showcase img {
  margin-bottom: 17px;
}

footer .showcase p {
  margin-bottom: 21px;
  word-spacing: -0.01em;
}

footer .showcase a {
  text-decoration: underline;
}

@media (min-width: 1199px) {
  footer .blog {
    padding: 38px 27px 52px;
  }
}

footer .blog .posts {
  margin-bottom: 36px;
}

footer .blog .posts:last-child {
  margin: 0;
}

footer .blog .posts img {
  margin-bottom: 0;
}

footer .blog .posts-date {
  text-align: center;
}

@media (min-width: 767px) {
  footer .blog .posts-date {
    padding: 6px;
  }
}

@media (min-width: 991px) {
  footer .blog .posts-date {
    padding: 0;
  }
}

footer .blog .posts-date > div {
  padding: 10px;
  background: url(../image/bg-time.png) no-repeat center;
  background-size: contain;
}

footer .blog .posts-date p {
  font-size: 16px;
  color: white;
  line-height: 1.4;
}

footer .blog .posts-content {
  padding: 0 0 0 8px;
}

footer .blog h4 {
  font-family: 'Oswald';
  font-size: 20px;
  letter-spacing: 0.02em;
}

@media (min-width: 767px) {
  footer .blog h4 {
    font-size: 15px;
  }
}

footer .blog p {
  margin: 0;
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 1.65;
}

@media (min-width: 767px) {
  footer .blog p {
    font-size: 13px;
  }
}

footer .community {
  position: relative;
  font-size: 16px;
}

@media (min-width: 1199px) {
  footer .community {
    padding: 38px 0 0 33px;
  }
}

footer .community h3:nth-child(4) {
  margin-bottom: 5px;
}

footer .community input {
  width: 100%;
  height: 38px;
  margin-bottom: 6px;
}

footer .community button {
  width: 98px;
  margin-bottom: 53px;
  color: white;
  background-color: #241B17;
  border-radius: 25%;
}

@media (min-width: 991px) {
  footer .community::before {
    content: "";
    position: absolute;
    top: 45%;
    left: 10%;
    width: 90%;
    height: 8px;
    background: url(../image/separator-dark.png);
    background-size: contain;
  }
}

footer .community a {
  margin-left: 27px;
  font-size: 41px;
  color: black;
}

footer .community a:nth-child(5) {
  margin-left: 5px;
}

footer .copyright {
  color: #BA8C31;
}

@media (min-width: 991px) {
  footer .copyright {
    margin: 0 -15px 0;
  }
}

footer .copyright span {
  float: inherit;
  padding: 0;
  letter-spacing: -0.02em;
}

@media (min-width: 767px) {
  footer .copyright span {
    float: left;
    padding: 5px 0;
  }
}

footer .copyright nav {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 767px) {
  footer .copyright nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

footer .copyright nav a {
  padding: 5px 0;
  margin-left: 16px;
  color: #BA8C31;
}
/*# sourceMappingURL=main.css.map */